* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

#canvas {
  background-color: black;
  height: 100% !important;
  width: 100% !important;
}

.left-links {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 10px;
}

.left-links img {
  width: 80px;
  height: 80px;
  margin-left: 20px;
}

.left-links .fat-img {
  width: 100px !important;
}

.morty-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
}

.morty-msg img {
  width: 80%;
}
